executor: slurm
jobs: 1000
local-cores: 40
retries: 1
sdm: conda

# set the default resources for all rules
default-resources:
  slurm_partition: "scc-cpu"
  runtime: "5min"
  nodes: 1

# rules, which require different (more) resources:
set-resources:
  download_model:
    mem_mb: 16000
    cpus_per_task: 4
  dorado_simplex:
    slurm_partition: "scc-gpu"
    cpus_per_task: 4
    gpus_per_task: 1
    envmodules: "cuda"
    mem_mb: 16000
  dorado_summary:
    mem_mb: 32000
    cpus_per_task: 40
  dorado_demux:
    mem_mb: 32000
    cpus_per_task: 40
  gzip:
    mem_mb: 32000
    cpus_per_task: 40
  pycoQC_report:
    mem_mb: 32000
    cpus_per_task: 12
    runtime: "30min"
  nanoplot_report:
    mem_mb: 32000
    cpus_per_task: 12
    runtime: "30min"

# threads define how much resources each rule may take, overrides .smk defs:
set-threads:
  dorado_simplex: 1
  dorado_demux: 40
  dorado_summary: 40
  gzip: 40
  pycoQC_report: 12
  nanoplot_report: 12
