executor: slurm
jobs: 100
local-cores: 40
retries: 2
sdm: conda

# set the default resources for all rules
default-resources:
  slurm_partition: "scc-cpu"
  runtime: "15min"
  nodes: 1

# rules, which require different (more) resources:
set-resources:
  download_model:
    mem_mb: 48000
    cpus_per_task: 1
  dorado_simplex:
    slurm_partition: "scc-gpu"
    gpu: 1
    cpus_per_gpu: 4
    mem_mb: 2400
  dorado_summary:
    mem_mb: 48000
    cpus_per_task: 40
  dorado_demux:
    mem_mb: 48000
    cpus_per_task: 4
  gzip:
    mem_mb: 48000
    cpus_per_task: 40
  pycoQC_report:
    mem_mb: 48000
    cpus_per_task: 1
    runtime: "60min"
  nanoplot_report:
    mem_mb: 48000
    cpus_per_task: 12
    runtime: "60min"

# threads define how much resources each rule may take, overrides .smk defs:
set-threads:
  dorado_simplex: 1
  dorado_demux: 4
  dorado_summary: 40
  gzip: 40
  pycoQC_report: 1
  nanoplot_report: 12
